<?php
$dias = explode(",", $confs['DIAS']);
?>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Configurações da loja</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="<?php echo BASE_URL; ?>configuracoes/altera/ ">
                            <span>Horário de funcionamento:</span>
                            <div class="row">
                                <div class="col-md-6 pl-1">
                                    <div class="form-group">
                                        <label>Abre as:</label>
                                        <input type="time" name="abre" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['ABRE'] ?>" />
                                    </div>
                                </div>
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Fecha as:</label>
                                        <input type="time" name="fecha" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['FECHA'] ?>" />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div="input-field col s6">
                                    Dias de funcionamento:
                            </div><br>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="dias[]"
                                        <?php !empty($dias[0])? 'checked':''  ?> type="checkbox" value="seg">
                                    <span class="form-check-sign"></span>
                                    Segunda
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="dias[]"
                                        <?php if ($dias[1] == 'ter') {echo "checked";}?> type="checkbox" value="ter" />
                                    <span class="form-check-sign"></span>
                                    Terça
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="dias[]"
                                        <?php if ($dias[2] == 'qua') {echo "checked";}?> type="checkbox" value="qua">
                                    <span class="form-check-sign"></span>
                                    Quarta
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="dias[]"
                                        <?php if ($dias[3] == 'qui') {echo "checked";}?> type="checkbox" value="qui">
                                    <span class="form-check-sign"></span>
                                    Quinta
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="dias[]"
                                        <?php if ($dias[4] == 'sex') {echo "checked";}?> type="checkbox" value="sex">
                                    <span class="form-check-sign"></span>
                                    Sexta
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="dias[]"
                                        <?php if ($dias[5] == 'sab') {echo "checked";}?> type="checkbox" value="sab">
                                    <span class="form-check-sign"></span>
                                    Sabado
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="dias[]"
                                        <?php if ($dias[6] == 'dom') {echo "checked";}?> type="checkbox" value="dom">
                                    <span class="form-check-sign"></span>
                                    Domingo
                                </label>
                            </div>

                            <!--Feriados-->
                    </div>

                    <button class="btn btn-primary btn-simple" type="submit">
                        Alterar
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>