<?php
?>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Configurações da loja</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="<?php echo BASE_URL; ?>configuracoes/altera/ ">
                            <span>Horário e dias de funcionamento:</span>

                            <div class="row">
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Segunda:</label>
                                        <input type="checkbox" name="seg" class="form-control" placeholder="Company"
                                            <?php echo $confs['SEG'] == 1?'checked':'' ?> />
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Abre as:</label>
                                        <input type="time" name="segabre" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['SEGABRE'] ?>" />
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Fecha as:</label>
                                        <input type="time" name="segfecha" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['SEGFECHA'] ?>" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Terça:</label>
                                        <input type="checkbox" name="ter" class="form-control" placeholder="Company"
                                            <?php echo $confs['TER'] == 1?'checked':'' ?> />
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Abre as:</label>
                                        <input type="time" name="terabre" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['TERABRE'] ?>" />
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Fecha as:</label>
                                        <input type="time" name="terfecha" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['TERFECHA'] ?>" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Quarta:</label>
                                        <input type="checkbox" name="qua" class="form-control" placeholder="Company"
                                            <?php echo $confs['QUA'] == 1?'checked':'' ?> />
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Abre as:</label>
                                        <input type="time" name="quaabre" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['QUAABRE'] ?>" />
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Fecha as:</label>
                                        <input type="time" name="quafecha" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['QUAFECHA'] ?>" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Quinta:</label>
                                        <input type="checkbox" name="qui" class="form-control" placeholder="Company"
                                            <?php echo $confs['QUI'] == 1?'checked':'' ?> />
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Abre as:</label>
                                        <input type="time" name="quiabre" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['QUIABRE'] ?>" />
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Fecha as:</label>
                                        <input type="time" name="quifecha" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['QUIFECHA'] ?>" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Segunda:</label>
                                        <input type="checkbox" name="sex" class="form-control" placeholder="Company"
                                            <?php echo $confs['SEX'] == 1?'checked':'' ?> />
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Abre as:</label>
                                        <input type="time" name="sexabre" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['SEXABRE'] ?>" />
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Fecha as:</label>
                                        <input type="time" name="sexfecha" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['SEXFECHA'] ?>" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Sábado:</label>
                                        <input type="checkbox" name="sab" class="form-control" placeholder="Company"
                                            <?php echo $confs['SAB'] == 1?'checked':'' ?> />
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Abre as:</label>
                                        <input type="time" name="sababre" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['SABABRE'] ?>" />
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Fecha as:</label>
                                        <input type="time" name="sabfecha" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['SABFECHA'] ?>" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Domingo:</label>
                                        <input type="checkbox" name="dom" class="form-control" placeholder="Company"
                                            <?php echo $confs['DOM'] == 1?'checked':'' ?> />
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Abre as:</label>
                                        <input type="time" name="domabre" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['DOMABRE'] ?>" />
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Fecha as:</label>
                                        <input type="time" name="domfecha" class="form-control" placeholder="Company"
                                            value="<?php echo $confs['DOMFECHA'] ?>" />
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-simple" type="submit">
                                Alterar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>