<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Editar serviço</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="<?php echo BASE_URL ?>servicos/true_edit">
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" class="form-control"  name="nome"
                                            required type="text" value="<?php echo $servico['NOME'] ?>">
                                    </div>
                                </div>
                                <div class="col-md-6 px-1">
                                    <div class="form-group">
                                        <label>Valor:</label>
                                        <input type="text" class="form-control" name="valor"
                                        required value="<?php echo $servico['VALOR'] ?>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tempo estimado</label>
                                        <input type="text" class="form-control"  name="tempo"
                                        required  value="<?php echo $servico['TEMPO'] ?>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Descrição</label>
                                        <input type="text" class="form-control" name="descricao"
                                        required  value="<?php echo $servico['DESCRICAO'] ?>">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="id" value="<?php echo $servico['ID'];?>">

                            <button type="submit" class="btn btn-info btn-fill pull-right">Atualizar perfil</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>


