<div class="container">
    <h2>Escolha nossos serviços:</h2>
    Olá,<?php echo $name ?>!<br>
    Seu atendimento estará sendo marcado para as
    <?php
$hora = explode(" ", $dataEscolhida)[1];
$dia = explode(" ", $dataEscolhida)[0];
//mostra a hora do dia que foi escolhido
echo $hora
?>  do dia <?php
//dia
echo explode("-", $dia)[2] . "/";
//mes
echo explode("-", $dia)[1] . "/";
//ano
echo explode("-", $dia)[0];
?> com  <?php echo $atendente['username']; ?>.<br>
    Como último passo,escolha o(s) serviço(s) que deseja fazer conosco:
    <form action="<?php echo BASE_URL ?>agendamento/confirma" method="POST" >
        <input type="hidden" value="<?php echo $name ?>" name="nome">
        <input type="hidden" value="<?php echo $atendente['username'] ?>" name="atendente">
        <input type="hidden" value="<?php echo $atendente['id'] ?>" name="idatendente">
        <input type="hidden" value="<?php echo $dataEscolhida ?>" name="dataescolhida">
        <table border="1" width="100%" class="table table-striped table-bordered" id="example">
       <thead>
       <tr>]
       <td></td>
       <td>Serviço</td>
       <td>Preço</td>
       </tr>
       </thead>
       <tbody>
       <?php foreach ($servicos as $s) {?>
       <tr>
        <td><input type="checkbox" name="servico[]" value="<?php echo $s['ID'] . ","; ?>"></td>
        <td><?php echo utf8_encode($s['NOME']); ?></td>
        <td><?php echo $s['VALOR'] ?></td>
        </tr>
        <?php }?>
       </tbody>
                <!-- <select  required="true" name="servico[]" class="custom-select custom-select-lg mb-3">
                    <?php foreach ($servicos as $s) {?>
                    <option value="<?php echo $s['ID'] . ","; ?>"><
                        ?php echo utf8_encode($s['NOME']) ?>-<?php echo $s['VALOR'] ?> R$</option>
                    <?php }?>
                </select> -->
                <!-- <?php foreach ($servicos as $s) {?>
                    <input type="checkbox" ><?php echo utf8_encode($s['NOME']) ?>-<?php echo $s['VALOR'] ?><br/>
                    <?php }?> -->

        </table>

        <div class="row" >
            <button type="submit" class="btn btn-success">Confirmar</button>
        </div>
    </form>
</div>